@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}
   
.Vejr {display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  background-color: #e3e39f;
  color: #fff;
}


.Vejr .search {
  text-align: center;
  padding: 1rem;
}

.Vejr input {
  justify-content: center;
  align-items: center;
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius :50px;
  border: black;
  background: rgba(255,255,255, 0.1);
  background-color: rgb(255, 255, 255);
}

::placeholder {
  color: #000000;
}

.Vejr .top {
  width: 100%;
  margin: 1rem auto;
}

.Vejr .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.Vejr .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background: rgba(162, 105, 52, 0.59)

}

.bold {
  font-weight: 700;
}




